.button
{
-fx-background-color : #05071F;
-fx-text-fill : #e7e5e5;
}
.button:hover{
-fx-background-color : #10165F;
}
.button:pressed
{
-fx-background-color : #1620A1;
}

.scroll-pane {
    -fx-background-color: #02030A;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #10165F;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}

.choice-box {
    -fx-background-color : #FFF;
    -fx-text-fill : #000;

}
.choice-box:hover {
    -fx-background-color : #C0C0C0;
}
.choice-box :pressed {
   -fx-background-color : #C0C0C0;
}
.choice-box .context-menu {
    -fx-background-color: white;
    -fx-pref-width:113;
}
.choice-box .menu-item:focused {
    -fx-background-color: #C0C0C0;
}
.choice-box .menu-item > .label {
    -fx-text-fill: black;
}
.choice-box .menu-item:focused > .label {
    -fx-text-fill: black;
}
